<!doctype html>
<html>
  <head>
    <title>D Coin</title>
    <style media="screen">
      
    </style>
  </head>

  <body>
    <div >
      <h1> <a href="/">D Coin</a> </h1>
      </div>
      <div>
        <%= yield %>
      </div>
  </body>
</html>
