<div class="add_post">
  <h2>Whats on your mind?</h2>
  <form action="/posts" method="POST">

  <p>
    Status:
    <input type="text" name="content">
  </p>

  <input class="btn btn-primary" type="submit" value="submit">
  </form>
</div>
